@font-face {
    font-family: 'PTMonoRegular';
    src: url('../fonts/PTM55F.woff')
    format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'PTMonoRegular';
    src: url('../fonts/PTM75F.woff');
    font-weight: bold;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
    height: 100%;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'PTMonoRegular';
    font-weight: normal;
    font-size: .7em;
    color: #3d228a9d;
}

header {
    margin: 2em auto auto auto;
    width: 80em;
}

h1 {
    display: inline-block;
    background-color: #3d228a9d;
    padding: .3em .6em .3em .6em;
    color: #f3df9c;
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    font-weight: normal;
    position: relative;
    margin-bottom: 0;
}

.tagline {
    display: block;
    background-color: #f3df9c;
    width: 45em;
    padding: 1em;
    text-align: center;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    margin-top: 0;
}

main {
    margin: 5em auto auto auto;
    width: 80em;
}

button {
    border-radius: 0;
    border: 0;
    padding: 8px;
    color: white;
    font-family: 'PTMonoRegular';
    -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    cursor: pointer;
}

button:hover {
    color: #f3df9c;
    text-shadow: 2px 2px 3px #7b2ea8;
}

button[value='previous'] {
    background-color: #ff5549;
    padding-right: 16px;
    padding-left: 16px;
    border-top-right-radius: 1em ;
    
}

button[value='next'] {
    background-color: #ff5549;
    width: 5em;
    height: 5em;
    padding: 16px;
    border-radius: 50%;
    float: right;
}

.test-box {
    margin: auto auto 3em auto;
}

.item-box {
    display: block;
    background-color: #ff5549;
    color: white;
    padding: 0px;
    border-bottom-left-radius: 2em;
    border-top-right-radius: 2em;
}

.item-tab, .item-content {
    display: inline-block;
    margin: 0;
    padding: 1em;
}

.item-tab {
    width: 10em;
    padding-left: 2em;
    text-transform: uppercase;

}

.item-content {
    font-size: 1.2em;
}

.answers-box {
    padding-top: 18px;
    padding-left: 1em;
    margin-left: 11em;
    background-color: #f3df9c;
    border-bottom-right-radius:2em ;
    border-bottom-left-radius: 2em;
    text-align: center;
}

.single-answer-box {
    width: 12em;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.single-answer-box input {
    /*-webkit-appearance: none;
    appearance: none;
    background-color: #fff;*/
    margin: 0;
    font-size: 1.2em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 0.15em solid #3d228a9d;
}

/*.single-answer-box input::before {
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0);
    -webkit-transition: 120ms transform ease-in-out;
    -moz-transition: 120ms transform ease-in-out;

    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #3d228a9d;
}

.single-answer-box input:checked {
    transform: scale(1);
}*/

.results-box {
    width: 60em;
    margin: 16em auto 8em auto;
    padding: 2em 6em 4em 6em;
    background-color: #f3df9c;
    border-radius: 2em;
}

.results-box {
    text-align: center;
}

.results-box h2 {
    display: block;
    text-align: left;
}

.results-box .dominant-trait-desc {
    text-align: left;
    margin-bottom: 4em;
}

.results-box canvas {
    display: block;
    background-color: #7b2ea8;
    clear: both;
    margin: auto auto -10em auto;
    width: 25em;
    height: 25em;
    border-radius: 50%;
    transform: translateY(-10em);
}


.results-box .scale1 {
    width: 12em;
    display: inline-block;
    font-weight: bold;
    margin-right: 2em;
    margin-bottom: 2em;
}

.scale-bar-behind {
    margin-top: .5em;
    background-color: rgba(250, 235, 215, 0.596);
    border-radius: .5em;
}

.scale-bar-front {
    background-color: #7b2ea8;
    border-radius: .5em;
    transform: translateY(-8px);
}

.extraversion {
    background-color:#ffee00;
}

.agreeableness {
    background-color: #ff77b0;
}

.consciousness {
    background-color: #9aff60;
}

.neuroticism {
    background-color: #6d73c9;
}

.openness {
    background-color: #c71d80;
}

.results-box .scale2 {
    font-weight: normal;
}