@font-face {
    font-family: 'PTMonoRegular';
    src: url('../fonts/PTM55F.woff')
    format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'PTMonoRegular';
    src: url('../fonts/PTM75F.woff');
    font-weight: bold;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
    height: 100%;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'PTMonoRegular';
    font-weight: normal;
    font-size: .7em;
    color: #3d228a9d;
}

header {
    margin: 2em auto auto auto;
    width: 80em;
}

main {
    margin: 5em auto auto auto;
    width: 80em;
}

button {
    border-radius: 0;
    border: 0;
    padding: 8px;
    color: white;
    font-family: 'PTMonoRegular';
    -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    cursor: pointer;
}

button:hover {
    color: #f3df9c;
    text-shadow: 2px 2px 3px #7b2ea8;
}

button[value='previous'] {
    background-color: #ff5549;
    padding-right: 16px;
    padding-left: 16px;
    border-top-right-radius: 1em ;
    
}

button[value='next'] {
    background-color: #ff5549;
    width: 5em;
    height: 5em;
    padding: 16px;
    border-radius: 50%;
    float: right;
}

.test-box {
    margin: auto auto 3em auto;
}

.item-box {
    display: block;
    background-color: #ff5549;
    color: white;
    padding: 0px;
    border-bottom-left-radius: 2em;
    border-top-right-radius: 2em;
}

.item-tab, .item-content {
    display: inline-block;
    margin: 0;
    padding: 1em;
}

.item-tab {
    width: 10em;
    padding-left: 2em;
    text-transform: uppercase;

}

.item-content {
    font-size: 1.2em;
}

.answers-box {
    padding-top: 18px;
    padding-left: 1em;
    margin-left: 11em;
    background-color: #f3df9c;
    border-bottom-right-radius:2em ;
    border-bottom-left-radius: 2em;
}

.single-answer-box {
    width: 12em;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.single-answer-box input {
    /*-webkit-appearance: none;
    appearance: none;
    background-color: #fff;*/
    margin: 0;
    font-size: 1.2em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 0.15em solid #3d228a9d;
}

/*.single-answer-box input::before {
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0);
    -webkit-transition: 120ms transform ease-in-out;
    -moz-transition: 120ms transform ease-in-out;

    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #3d228a9d;
}

.single-answer-box input:checked {
    transform: scale(1);
}*/

.results-box {
    width: 70em;
    margin: 16em auto auto auto;
    padding: 2em;
    background-color: #f3df9c;
    border-radius: 2em;
}

.results-box h2 {
    display: block;
}

.results-box canvas {
    display: block;
    background-color: #7b2ea8;
    clear: both;
    margin: auto;
    width: 25em;
    height: 25em;
    border-radius: 50%;
    transform: translateY(-10em);
}

.results-box .scale1 {
    width: 12em;
    display: inline-block;
    font-weight: bold;
}

.results-box .scale2 {
    font-weight: normal;
}